:root {
    --main-color: #00594E;
}
html{
    height: 100% !important;
}

body{

    display: flex;
    flex-direction: column;
    min-width: 1200px;
    letter-spacing: 1px;
    position: relative;
}

img{
    display: block;
}



.wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
}
