.ck-header{
    width: 100%;
    height: 6rem;
    background: #FFFFFF;
    position: relative;
    .logo{
        position: absolute;
        left: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
        img{
            width: 10rem;
        }
    }
    .text{
        position: absolute;
        left: 14.4rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        .title{
            font-size: 2.2rem;
            i{
                font-size: 2.4rem;
            }
        }
    }
}

.step{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    .list{
        display: flex;
        align-items: center;

        .ifx{
            width: 8rem;
            text-align: center;
        }
        .num{
            width: 3rem;
            height: 3rem;
            border: 0.2rem solid #000000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-size:1.8rem;
            font-weight: bold;
        }
        .text{
            font-size: 1.2rem;
            margin-top: .5rem;
        }
        .link{
            width: 6rem;
            color: #CFCFCF;
            position: relative;
            text-align: center;
            display: flex;
            align-items: center;
            transform: translateY(-1.2rem);
            .line{

                width: 6rem;
                height: 0.1rem;
                background: #CFCFCF;

            }
            i{
                float: right;
                transform: translateY(-0.15rem);
                font-weight: 300;
            }
        }
    }
}

.wrap{
    padding: 0 1.5rem;
    .block{
        position: relative;
        padding-bottom: 3.5rem;
        margin-bottom: 1rem;
        .head{
            display: flex;
            align-items: center;
            margin-bottom: 1.6rem;
            .order{
                width: 3rem;
                height: 3rem;
                border: 0.2rem solid var(--main-color);
                font-size: 1.8rem;
                font-weight: bold;
                color: var(--main-color);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .title{
                font-size: 2rem;
                color: #000;
                margin-left: 1rem;
            }
            .thread{
                position: absolute;
                width: 0.1rem;
                height: 100%;
                left: 1.5rem;
                top: 0;
                padding-top: 3.8rem;
                .line{
                    width: 0.1rem;
                    background-color: #D8D8D8;
                    height: 100%;
                }
            }

        }

        .main{
            padding-left: 4rem;
            .form-group{
                position: relative;
                margin-bottom: 2.5rem;
                &:last-child{
                    margin-bottom: 0;
                }
                .tag{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 1.3rem;
                    font-size: 1.3rem;
                    z-index: 1;
                    background-color: #fff;
                    padding: 0 0.4rem;
                    transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -webkit-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    opacity: 0;
                }
                .form-control{
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 4rem;
                    border-radius: 0.6rem;
                    border: 0.1rem solid #ccc;
                    font-size: 1.6rem;

                    padding: 0 1.3rem;
                    transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -webkit-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    &::placeholder{
                        color: #999;
                    }
                    &:focus{
                        border-color: var(--main-color);
                        padding-top: 0.5rem;
                        +.tag{
                            transform: translateY(-2.8rem);
                            z-index: 3;
                            color: var(--main-color);
                            opacity: 1;
                        }
                    }
                }
                .have{
                    border-color: #000;
                    padding-top: 0.5rem;
                    +.tag{
                        transform: translateY(-2.8rem);
                        z-index: 3;
                        color: var(--main-color);
                        opacity: 1;
                    }
                }
                .control-select{
                    padding-left: 1.3rem;
                    font-size: 1.6rem;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    background: url(/static/img/jt-b.png) no-repeat right .8rem center;
                    background-size: 1.7rem;
                    outline: none;
                    background-color: #fff;
                    &.have{
                        border: 0.1rem solid #ccc;
                    }
                }
            }
            .form-horizontal{
                display: flex;

                .control-label{
                    font-size: 1.6rem;
                    color: #000;
                    width: 10rem;
                    height: 4rem;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                }
                .grow{
                    flex-grow: 1;
                    .row{
                        margin-bottom: 1rem;
                        &:last-child{
                            margin-bottom: 0;
                        }

                    }
                }
            }

            .store-container{
                .store-item{
                    float: right;
                    margin-bottom: 1rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    label{
                        display: flex;
                        align-items: center;
                        .radio-dress{
                            width: 2rem;
                            height: 2rem;
                            border: 0.1rem solid #CCCCCC;
                            display: flex;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            margin-right: 1.5rem;
                            &:after{
                                content: " ";
                                width: 1.3rem;
                                height: 1.3rem;
                                background: var(--main-color);
                                border-radius: 50%;
                                opacity: 0;
                            }
                        }
                        .store-info{
                            width: 20rem;
                            border-radius: 0.6rem;
                            border: 0.1rem solid #CCCCCC;
                            padding: 1rem;
                            flex-shrink: 0;
                            display: flex;
                            .store-icon{
                                width: 3rem;
                                flex-shrink: 0;
                                img{
                                    width: 3rem;
                                }
                            }
                            .store-text{
                                flex-grow: 1;
                                margin-left: 1.5rem;
                                .store-name{
                                    font-size: 1.6rem;
                                }
                                .store-address{
                                    font-size: 1.4rem;
                                    color: #999999;
                                }
                            }

                        }
                    }

                    .store-radio{
                        display: none;
                        &:checked{
                            +label{
                                .radio-dress{

                                    border-color:var(--main-color);

                                    &:after{
                                        opacity: 1;
                                    }
                                }
                                .store-info{
                                    border-color:var(--main-color);
                                    .store-text{

                                        .store-name{

                                            color: var(--main-color);
                                        }
                                        .store-address{
                                            color: #999;
                                        }
                                    }

                                }
                            }
                        }
                    }

                }
            }


        }

    }
}
.paying{
    background-color: #fff;
    padding: 1.5rem;
    padding-bottom: 10rem;
    .product{
        margin-bottom: 1rem;
        .head{
            font-size: 1.6rem;
        }
    }

    .calc{
        .list{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            .label{
                .title{
                    font-size: 1.4rem;
                }
                .tag{
                    font-size: 1.2rem;
                    color: #999;
                }
            }
            .count{
                text-align: right;
                .price{
                    font-size: 1.4rem;
                }
                .discount{
                    font-size: 1.2rem;
                    color: #999;
                    text-decoration: line-through;
                }
            }
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        border-top: 0.1rem solid #E6E6E6;
        padding-top: 01rem;
        .label{
            .title{
                font-size: 1.8rem;
            }
            .tag{
                font-size: 1.4rem;
                color: #000;
            }
        }
        .count{
            text-align: right;
            .price{
                font-size: 2rem;
            }
            .discount{
                font-size: 1.4rem;
                color: #FF4C4C;
            }
        }
    }

    .conceal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 8rem;
        .item{
            padding: 1rem;

            .icon{
                width: 4.8rem;
                height: 4.8rem;
                background: var(--main-color);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: #fff;
                }
            }
            span{
                font-size: 1.3rem;
                margin-top: 0.5rem;
            }
        }
    }
    .submit{
        width: 92%;
        height: 4.5rem;
        background: #DDDDDD;
        box-shadow: 0 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.25);
        border-radius: 0.6rem 0.6rem 2.3rem 2.3rem;
        border:none;
        font-size: 1.5rem;
        color: #fff;
        position: fixed;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }
    .act-sub{
        background: var(--main-color);
    }

}


