.overflow-hidden {
  overflow: hidden;
}
body {
  max-width: 768px;
  color: #333;
}
header {
  /*position: sticky;
    top: 0;*/
  z-index: 9999;
  width: 100%;
}
header .top {
  width: 100%;
  height: 6rem;
  background-color: #fff;
  position: relative;
}
header .top img {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .tips {
  width: 100%;
  background: #de4848;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.8rem 0;
}
header .tips .text {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  padding: 0 1.5rem;
  text-align: center;
  color: #fff;
}
header .tips .countdown {
  margin-left: 1rem;
}
.footer-menu {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  color: #2097d1;
}
.footer-menu a {
  color: #2097d1;
}
.footer-menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.footer-menu ul li {
  text-align: center;
  width: 6rem;
}
.footer-menu ul li .ico {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-menu ul li .ico i {
  font-size: 2.4rem;
}
.footer-menu ul li .text {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}
footer {
  width: 100%;
  background: #fff;
  position: relative;
  padding: 3rem 0;
}
footer .ft-main {
  width: 100%;
}
footer .logo-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
footer .logo-box p {
  font-size: 1.4rem;
  margin-top: 1rem;
}
footer .conceal {
  margin-top: 3rem;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .conceal .co-item {
  float: left;
  width: 8rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
footer .conceal .co-item .icon-box {
  width: 4.8rem;
  height: 4.8rem;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
footer .conceal .co-item .icon-box i {
  color: #fff;
}
footer .conceal .co-item p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
footer .f-nav {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
footer .f-nav a {
  padding: 0 2rem;
}
footer .description {
  padding: 1.5rem;
}
footer .description .text {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #9990A8;
}
footer .description .partner {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .description .partner .icon {
  padding: 0 1rem;
  height: 3.6rem;
}
footer .description .partner .icon img {
  width: 100%;
}
footer .copyright {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  text-align: center;
  color: #9990A8;
  width: 100%;
}
.logo-wrap {
  position: relative;
  z-index: 1;
}
.logo-wrap .logo-img {
  width: 16rem;
}
.logo-wrap .place {
  display: flex;
}
.logo-wrap .place .compose {
  position: relative;
  width: 3.47rem;
  height: 2.03rem;
}
.logo-wrap .place .compose img {
  position: absolute;
}
.logo-wrap .place .compose .fra-1 {
  width: 2rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo-wrap .place .compose .fra-2 {
  width: 3rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0.4rem);
}
.logo-wrap .place .compose .fra-3 {
  width: 4rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0.8rem);
}
.logo-wrap .place .xenical-logo {
  width: 9rem;
  margin-left: 0.6rem;
}
.logo-wrap .text {
  font-size: 1.4rem;
  letter-spacing: 4px;
  margin-top: 0.4rem;
  color: #000;
}
.logo-wrap .text.white {
  color: #fff;
}
.banner-section {
  position: relative;
}
.banner-section img {
  width: 100%;
}
.banner-section .embed-banner {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0 3rem;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-section .embed-banner.align-left {
  text-align: left;
}
.banner-section .embed-banner .embed-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.banner-section .embed-banner .embed-desc {
  font-size: 1.2rem;
}
.breadcrumb {
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  display: flex;
  font-size: 1.4rem;
}
.breadcrumb li:after {
  content: ">";
  padding: 0 10px;
}
.breadcrumb li:last-child:after {
  content: "";
}
.breadcrumb li.active {
  color: var(--main-color);
}
.menu-section {
  position: fixed;
  z-index: 99991;
  top: 0;
  right: 0;
  background-color: #ffebd9;
  width: 0;
  opacity: 0;
  height: 100%;
  -moz-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.menu-section.-show {
  width: 55%;
  opacity: 1;
}
.menu-section .menu-head {
  border-bottom: 0.1rem solid #ff9b3e;
  line-height: 5.5rem;
  text-align: right;
}
.menu-section .menu-head .close-menu {
  margin-right: 2rem;
}
.menu-section .menu-head .close-menu i {
  font-size: 2.2rem;
  font-weight: 100;
  color: #ff9b3e;
}
.menu-section .menu-list .menu-item {
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 1.6rem;
  border-bottom: 0.1rem solid #ff9b3e;
  line-height: 4rem;
}
.menu-section .menu-list .menu-item > a {
  font-style: italic;
}
.menu-section .menu-list .menu-item a {
  color: #ff9b3e;
  font-weight: 500;
}
.menu-section .menu-list .menu-item .menu-dropdown li {
  font-weight: 100;
  font-size: 1.4rem;
}
.beat {
  position: absolute;
  bottom: 3.8rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
}
.beat i {
  font-size: 2.4rem;
  -webkit-animation: bouncese 2s infinite;
  animation: bouncese 2s infinite;
  -webkit-transition: border 150ms ease-in-out, -webkit-transform 300ms ease-in;
  transition: border 150ms ease-in-out, -webkit-transform 300ms ease-in;
  transition: border 150ms ease-in-out, transform 300ms ease-in;
  transition: border 150ms ease-in-out, transform 300ms ease-in, -webkit-transform 300ms ease-in;
}
@keyframes bouncese {
  0%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.shade {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 99990;
}
.swal2-html-container {
  font-size: 1.4rem !important;
}
.swal2-title {
  font-size: 1.8rem !important;
  font-weight: 600!important;
}
.swal2-loader {
  border-color: #ff9b3e transparent #ff9b3e transparent !important;
}
/*# sourceMappingURL=global.css.map */