body {
  background-color: #F0F1F2;
}
header .tips {
  display: none;
}
.goods-section {
  padding: 0 1.5rem;
  padding-bottom: 4rem;
}
.goods-section .card {
  width: 100%;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 2rem;
}
.goods-section .goods .atlas {
  flex-shrink: 0;
  display: flex;
}
.goods-section .goods .atlas .cover-wrap {
  width: 19rem;
  height: 19rem;
  background-color: var(--seize-color);
  margin-bottom: 16px;
  margin-right: 2.5rem;
}
.goods-section .goods .atlas .cover-wrap img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .atlas .thumbnail .item {
  width: 9rem;
  height: 9rem;
  background-color: var(--seize-color);
  margin-bottom: 1rem;
}
.goods-section .goods .atlas .thumbnail .item.active {
  border: 0.1rem solid var(--main-color);
}
.goods-section .goods .atlas .thumbnail .item img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .info {
  flex-grow: 1;
}
.goods-section .goods .info .name-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.goods-section .goods .info .name-wrap .label {
  font-size: 1.4rem;
  width: 4.7rem;
  height: 3rem;
  background-color: #a80404;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: #fff;
}
.goods-section .goods .info .name-wrap .title {
  font-size: 1.6rem;
  font-weight: bold;
}
.goods-section .goods .info .attrs {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}
.goods-section .goods .info .attrs dl {
  display: flex;
  line-height: 1.8;
}
.goods-section .goods .info .prices .market {
  font-size: 1.4rem;
  text-decoration: line-through;
  font-weight: 300;
  margin-bottom: 1rem;
}
.goods-section .goods .info .prices .now {
  display: flex;
  align-items: center;
}
.goods-section .goods .info .prices .now .lab {
  width: 8.6rem;
  height: 2.5rem;
  border: 0.2rem solid #e82121;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.4rem;
  font-size: 1.4rem;
  color: #e82121;
  font-weight: bold;
}
.goods-section .goods .info .prices .now .sp {
  font-size: 2.4rem;
  color: #e82121;
  font-weight: bold;
}
.goods-section .goods .info .g-countdown {
  width: 100%;
  height: 50px;
  background-color: var(--seize-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.goods-section .goods .info .prescription {
  width: 100%;
  font-size: 1.4rem;
  color: #000000;
  margin-bottom: 2rem;
}
.goods-section .goods .info .sales {
  margin-top: 8px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}
.goods-section .goods .info .sales .panic {
  width: 10rem;
  flex-shrink: 0;
  font-size: 1.4rem;
}
.goods-section .goods .info .sales .order-logs {
  font-size: 1.4rem;
  flex-grow: 1;
  height: 2.7rem;
  overflow: hidden;
}
.goods-section .goods .info .sales .order-logs .ol {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1.2rem;
  background-color: #fff5d7;
  color: #ac7707;
  border-radius: 0.5rem;
}
.goods-section .goods .info .place {
  width: 100%;
  margin-bottom: 28px;
}
.goods-section .goods .info .place a {
  width: 100%;
  height: 53px;
  background-color: var(--seize-color);
  text-align: center;
  line-height: 53px;
  display: block;
  border-radius: 27px;
}
.goods-section .goods .info .ensures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goods-section .goods .info .ensures .icons {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.goods-section .goods .info .ensures .ioc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-section .goods .info .ensures .ioc i {
  font-size: 2rem;
  color: #999;
  margin-right: 0.4rem;
}
.goods-section .goods .info .ensures span {
  color: #999;
}
.goods-section .delivery .title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #979797;
}
.goods-section .delivery .content {
  font-size: 1.3rem;
}
.goods-section .delivery .content .label {
  margin-bottom: 8px;
}
.goods-section .delivery .content .col:first-child {
  margin-bottom: 3rem;
}
.goods-section .programme .title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #D8D8D8;
  padding-bottom: 1rem;
}
.goods-section .programme .goods-discount .item {
  border-bottom: 0.1rem solid #D8D8D8;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
.goods-section .programme .goods-discount .item:last-child {
  margin-bottom: 0;
}
.goods-section .programme .goods-discount .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}
.goods-section .programme .goods-discount .item .info .title {
  font-size: 1.4rem;
  width: 20rem;
  margin-bottom: 0;
  border: none;
  padding: 0;
  flex-shrink: 0;
}
.goods-section .programme .goods-discount .item .info .choice {
  width: 10rem;
  height: 4rem;
  background: #d72525;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 0.8rem;
}
.goods-section .programme .goods-discount .item .prices {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #F0F0F0;
  padding: 1.1rem;
  font-size: 1.3rem;
  border-radius: 0.8rem;
  position: relative;
}
.goods-section .programme .goods-discount .item .prices .le {
  position: relative;
  z-index: 2;
}
.goods-section .programme .goods-discount .item .prices:after {
  content: "";
  position: absolute;
  right: 2rem;
  top: -1.4rem;
  z-index: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 3.5rem solid #F0F0F0;
}
.goods-section .comments .title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #D8D8D8;
}
.goods-section .comments .enumeration li {
  border-bottom: 0.1rem solid #D8D8D8;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}
.goods-section .comments .enumeration li .info {
  margin-bottom: 1rem;
}
.goods-section .comments .enumeration li .info .date {
  float: right;
}
.goods-section .comments .enumeration li:last-child {
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.goods-section .final .instructions .title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.goods-section .final .instructions .present {
  border: 1px solid #979797;
}
.goods-section .final .instructions .present .ls {
  display: flex;
  align-items: center;
  position: relative;
}
.goods-section .final .instructions .present .ls:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  position: absolute;
  bottom: 0;
  left: 0;
}
.goods-section .final .instructions .present .ls .s1 {
  width: 10rem;
  background-color: #EDEDED;
  text-align: center;
  flex-shrink: 0;
  height: 100%;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.goods-section .final .instructions .present .ls .s2 {
  font-size: 1.3rem;
  padding: 1.4rem 1rem 1.4rem 11rem;
  flex-grow: 1;
}
.goods-section .after-sale {
  margin-top: 4rem;
  font-size: 1.6rem;
}
.goods-section .gallery {
  /*margin-top: 2rem;*/
  padding-bottom: 4rem;
}
.goods-section .gallery img {
  width: 100%;
  margin-bottom: 1rem;
}
.g-tips {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.g-tips .text {
  font-size: 1.3rem;
  margin-right: 1.4rem;
}
.footer-shopping {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.14);
  z-index: 9;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.footer-shopping .lab {
  font-size: 1.2rem;
}
.footer-shopping .price {
  font-size: 2rem;
  color: #de4848;
}
.footer-shopping .go-shop {
  width: 15rem;
  background-color: #d72525;
  color: #fff;
  display: flex;
  height: 3.6rem;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 3.2rem;
}
/*# sourceMappingURL=goods.css.map */