.ad-section{
    position: relative;
    .full-banner{

        height: 30rem;
        background-color: #A0A0A0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .major{
        padding: 0 1.5rem;
        .safeguard{
            background: #FFFFFF;
            border-radius: 1rem;
            border: 0.1rem solid #979797;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            width: 34.5rem;
            position: absolute;
            top: 24rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            padding: 1.5rem 0;
            .item{
                display: flex;
                align-items: center;
                padding: 1.5rem 0;
                width: 14.6rem;
                flex-shrink: 0;
                .ico{
                    width: 3.8rem;
                    height: 3.8rem;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    i{
                        color: var(--seize-color);
                        font-size: 3.4rem;
                        align-self: center;
                    }
                }
                .text{
                    margin-left: 8px;
                    .p1{
                        font-size: 1.4rem;
                    }
                    .p2{
                        font-size: 1.1rem;
                        color: #999;
                    }
                }
            }
        }
        .spread{

            margin-top: 2rem;
            .adv{
                width: 100%;
                margin-bottom: 1rem;
                img{
                    width: 100%;
                    display: block;
                }

            }


        }

    }
}

.about-section{
    margin-top: 3rem;
    text-align: center;
    padding: 0 2rem;
    padding-bottom: 2rem;
    .ab-title{
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }
    .text{
        font-size: 1.3rem;
        font-weight: 300;
        p,span{
            font-size: 1.3rem!important;
        }
    }
}

.suit{
    padding: 4rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    .suit-head{
        text-align: center;
        .title{
            font-size: 2.4rem;
            font-weight: 500;
            color: #fff;
        }
    }
    .suit-content{
        display: flex;
        -webkit-overflow-scrolling: touch;
        flex-wrap: wrap;
        justify-content: center;
        &::-webkit-scrollbar{
            display:none;
        }
        .item{
            width: 15rem;
            height: 10rem;
            flex-shrink: 0;
            text-align: center;
            padding: 3.5rem 1.5rem;
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            .box{
                align-self: center;
                border-radius: 1.5rem;
                color: #fff;
                img{
                    width: 100%;
                }
            }
            .text{
                margin-top: 1rem;
                font-size: 1.4rem;
            }
            .desc{
                font-size: 1.2rem;
                color: #999;
            }

        }

    }
}

.news-section{


    .title{
        width: 100%;
        padding-top: 3rem;
        margin-bottom: 3rem;
        font-size: 2.4rem;
        text-align: center;
        font-weight: 500;
    }

    .news-main{
        display: flex;
        overflow-y: auto;
        padding-bottom: 2rem;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar{
            display:none;
        }
        .item{
            padding: 1rem;
            width: 24rem;
            flex-shrink: 0;
            background: #FFFFFF;
            box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.06);
            border-radius: 1.6rem;
            margin-left: 1rem;
            margin-right: 1rem;

            .img-wrapper{
                background-color: #D8D8D8;
                margin-bottom: 1.5rem;
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;
                img{
                    width: 100%;
                    display: block;


                }
            }
            .info{
                .n-title{
                    margin-bottom: 1.5rem;
                    font-size: 1.6rem;
                    text-align: left;
                }
                .desc{
                    font-size: 1.2rem;
                    color: #9d9d9d;
                    overflow: hidden;
                    height: 4.8rem;
                }
                .stars{
                    margin-bottom: 1.5rem;
                    i{
                        color: #FFD554;
                        margin-right: 0.8rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

}

.fraud-section{
/*    background-color: #ffc1d4;*/
    padding: 1.5rem;
    img{
        width: 100%;
        display: block;
    }
}

.product-section{
    .p-title{
        margin-top: 0!important;
        margin-bottom: 0!important;
        padding-top: 7rem;
        padding-bottom: 6rem;
/*        background-image: url("/static/img/dgoum.jpg");*/
        background-repeat: no-repeat;
        background-size: 100%;
    }

}
