header:before {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  transition: 0.2s;
}
header.-show:before {
  height: 100%;
}
.right-online-buy {
  position: fixed;
  /*    top: 50%;
    transform: translateY(-50%);*/
  bottom: 14rem;
  right: 0;
  z-index: 9999;
  transition-duration: 300ms;
}
.right-online-buy a {
  width: 11.2rem;
  height: 4rem;
  background: #ff9b3e;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  font-size: 1.4rem;
  opacity: 0;
}
.right-online-buy a i {
  margin-right: 0.6rem;
  font-size: 1.6rem;
}
.right-online-buy.slipOut {
  transform: translateX(12rem);
  opacity: 0;
}
header {
  position: fixed;
  background-color: transparent;
  border-bottom: none;
  padding-right: 0;
}
header .menu {
  margin-left: 2.5rem;
  width: 6rem;
  height: 6rem;
  background: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
}
header .menu i {
  color: #fff;
}
header.-show .menu i {
  color: #000;
}
.section .head {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}
.section .head .title {
  font-weight: 500;
  font-size: 2.6rem;
}
.section .head .sub {
  font-size: 1rem;
}
.section.orange-bg {
  background-color: #FFEBD9;
}
.adv-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 4.5rem;
}
.adv-section .swiper-container {
  height: 100%;
}
.adv-section .swiper-container .swiper-wrapper {
  height: 100%;
}
.adv-section .swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
}
.adv-section .act-main {
  width: 100%;
  position: relative;
}
.adv-section .act-main .video-wrap {
  width: 31.5rem;
  height: 62rem;
  position: relative;
  z-index: 2;
}
.adv-section .act-main .video-wrap .shade-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #793d04;
  opacity: 0.2;
}
.adv-section .act-main .video-wrap .slide-inner {
  width: 100%;
  height: 100%;
}
.adv-section .act-main .video-wrap .video-slogan {
  position: absolute;
  bottom: 30rem;
  left: 5rem;
  z-index: 4;
  color: #fff;
  width: 100%;
}
.adv-section .act-main .video-wrap .video-slogan .text-effect {
  position: absolute;
  width: 100%;
}
.adv-section .act-main .video-wrap .video-slogan .p1 {
  font-size: 2rem;
}
.adv-section .act-main .video-wrap .video-slogan .p2 {
  font-size: 4.4rem;
  font-style: italic;
}
.adv-section .act-main .video-wrap .video-slogan .p3 {
  font-size: 1.4rem;
}
.adv-section .act-main .video-wrap .pill1 {
  position: absolute;
  right: 0;
  transform: translate(11.6rem, 16.6rem);
  bottom: 0;
  z-index: 4;
  background-image: url("/static/img/pill1.webp");
  background-repeat: no-repeat;
  width: 23.4rem;
  height: 29.8rem;
  background-size: 100%;
}
.adv-section .act-main .video-wrap .pill2 {
  position: absolute;
  right: 0;
  transform: translate(4.6rem, 11.6rem);
  bottom: 0;
  z-index: 3;
  background-image: url("/static/img/pill2.webp");
  background-repeat: no-repeat;
  width: 27.2rem;
  height: 18.8rem;
  background-size: 100%;
}
.adv-section .act-main .video-wrap .progress {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  z-index: 9;
  /* @-webkit-keyframes progress-bar
                {
                    0%   {height: 0;}
                    100% {height: 100%;}
                } */
}
.adv-section .act-main .video-wrap .progress .bar {
  width: 0.2rem;
  height: 3rem;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.8rem;
  position: relative;
  display: block;
  opacity: unset;
  border-radius: 0;
}
.adv-section .act-main .video-wrap .progress .bar:before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.adv-section .act-main .video-wrap .progress .swiper-pagination-bullet-active:before {
  animation: progress-bar 7s;
  animation-fill-mode: forwards;
  -webkit-animation: progress-bar 7s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes progress-bar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.adv-section .act-main .slogan-wrap {
  width: 40.8rem;
  height: 87rem;
  /*            background-image: url(/static/img/ellipse.jpg);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position-x: 9rem;*/
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.adv-section .act-main .slogan-wrap .text {
  position: absolute;
  right: 2.2rem;
  top: 0;
  padding-top: 6rem;
  font-size: 2.4rem;
  width: 2rem;
  line-height: 1.5;
  opacity: 0;
  color: #ff9b3e;
}
.adv-section .act-main .slogan-wrap .back-img img {
  position: absolute;
  width: 52%;
  right: 0;
}
.adv-section .about-main {
  position: relative;
  z-index: 1;
}
.adv-section .about-main .head {
  text-align: center;
  margin-top: 14rem;
}
.adv-section .about-main .head .title {
  font-size: 2.6rem;
  font-weight: 500;
}
.adv-section .about-main .head .sub {
  font-size: 1rem;
}
.adv-section .about-main .text {
  padding: 0 2rem;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
}
.adv-section .about-main .cumulative {
  text-align: center;
  margin-top: 2.4rem;
  background-image: url("/static/img/daoshui.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}
.adv-section .about-main .cumulative .p1 {
  font-size: 1.4rem;
}
.adv-section .about-main .cumulative .p2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adv-section .about-main .cumulative .p2 .num {
  font-size: 5rem;
}
.adv-section .about-main .cumulative .p2 .em {
  font-size: 1.4rem;
  text-align: left;
  margin-left: 0.8rem;
}
.suit-section {
  background-color: #FFEBD9;
}
.suit-section .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
}
.suit-section .main .item {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 1rem;
}
.suit-section .main .item .box {
  margin-bottom: 0.5rem;
  width: 9rem;
}
.suit-section .main .item .box img {
  width: 100%;
  border-radius: 50%;
}
.suit-section .main .item .text {
  font-size: 1.4rem;
}
.affect-section {
  /*.decorate{
        position: absolute;

        background-repeat: no-repeat;
        background-size: 100%;
        &.de-1{
            background-image: url("/static/img/p1.jpg");
            top:0;
            left: 0;
            width: 232px;
            height: 238px;

        }
        &.de-2{
            background-image: url("/static/img/p2.jpg");
            bottom:0;
            right: 0;
            width: 188px;
            height: 162px;

        }
    }*/
}
.affect-section .main .row {
  margin-bottom: 3rem;
}
.affect-section .main .picker {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 37.5rem;
  margin: 0 auto;
}
.affect-section .main .picker.key-1 {
  background-image: url(/static/img/how-1.webp);
  height: 20rem;
}
.affect-section .main .picker.key-2 {
  background-image: url(/static/img/how-2.webp);
  height: 23rem;
}
.affect-section .main .picker .min-fat {
  background-image: url(/static/img/zf-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 0.8rem;
  height: 0.6rem;
  display: block;
  position: absolute;
}
.affect-section .main .picker .max-fat {
  background-image: url(/static/img/zf-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 4.5rem;
  height: 3.6rem;
  display: block;
  position: absolute;
}
.affect-section .main .picker .left-more {
  animation-name: leftMore;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* Safari 与 Chrome: */
  -webkit-animation-name: leftMore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.affect-section .main .picker .right-more {
  animation-name: rightMore;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* Safari 与 Chrome: */
  -webkit-animation-name: rightMore;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.affect-section .main .picker .bottom-more {
  animation-name: bottomMore;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* Safari 与 Chrome: */
  -webkit-animation-name: bottomMore;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
@keyframes leftMore {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-40px);
    opacity: 0;
  }
}
@keyframes rightMore {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(40px);
    opacity: 0;
  }
}
@keyframes bottomMore {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
.affect-section .main .introduce {
  width: 33.5rem;
  background: #FFEBD9;
  border-radius: 0rem 5rem 5rem 5rem;
  margin: 0 auto;
  padding: 2.3rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
}
.affect-section .main .introduce.int-2 {
  border-radius: 5rem 0rem 5rem 5rem;
}
.buy-section {
  padding-bottom: 4rem;
}
.buy-section .main {
  padding: 0 2rem;
}
.buy-section .main .officina {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
}
.buy-section .main .officina .card {
  width: 31.5rem;
  height: 13.3rem;
  background: #FFFFFF;
  border-radius: 1.5rem;
  padding: 2rem;
}
.buy-section .main .officina .card .title {
  font-size: 2rem;
}
.buy-section .main .officina .card .sub {
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.9rem;
}
.buy-section .main .officina .drug {
  width: 8.6rem;
  height: 8.6rem;
  background: #FFFFFF;
  border: 0.2rem solid #ff9b3e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: #ff9b3e;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-2rem);
}
.buy-section .main .officina .shop-back {
  width: 14rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-2rem);
}
.buy-section .main .officina .shop-back img {
  width: 100%;
}
.buy-section .main .product .card {
  width: 100%;
  background: #FFFFFF;
  border-radius: 1.5rem;
}
.buy-section .main .product .more {
  color: #FF991E;
  text-align: center;
  margin-top: 3.6rem;
  font-size: 1.4rem;
  display: block;
}
.buy-section .main .product .goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 2rem;
  border-bottom: 0.1rem dashed #DFDFDF;
}
.buy-section .main .product .goods:last-child {
  border-bottom: none;
}
.buy-section .main .product .goods .title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  width: 20rem;
}
.buy-section .main .product .goods .price {
  display: flex;
  align-items: center;
}
.buy-section .main .product .goods .price .now {
  font-size: 1.6rem;
  color: #ff9b3e;
}
.buy-section .main .product .goods .price .jetso {
  font-size: 1.2rem;
  color: #ff9b3e;
  padding: 0.3rem 0.7rem;
  border: 0.1rem solid #ff9b3e;
  border-radius: 0.3rem;
  margin-left: 0.4rem;
}
.buy-section .main .product .goods .checkout-btn {
  width: 10rem;
  height: 3rem;
  background: #ff9b3e;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
}
.word-section {
  overflow-y: auto;
  padding-bottom: 6rem;
}
.word-section .main .word-item {
  width: 24rem!important;
  background: #fff;
  overflow: hidden;
  border-radius: 1rem!important;
}
.word-section .main .word-item .box {
  width: 100%;
}
.word-section .main .word-item .box img {
  width: 100%;
}
.eval-section {
  padding-bottom: 2.7rem;
}
.eval-section .main {
  padding: 0 4rem;
}
.eval-section .main .text {
  font-size: 1.4rem;
  line-height: 2.3rem;
  margin-bottom: 2.1rem;
  text-align: center;
}
.eval-section .main .btn {
  width: 20rem;
  height: 4rem;
  background: #ff9b3e;
  border-radius: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.6rem;
}
.solve-section {
  margin-bottom: 2rem;
}
.solve-section .main {
  overflow-x: hidden;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.solve-section .main .js-marquee-wrapper {
  display: flex;
  justify-content: center;
}
.solve-section .main .js-marquee {
  display: flex;
  justify-content: center;
}
.solve-section .main .loopWrap {
  transform: translateX(0);
}
.solve-section .main .group {
  display: flex;
}
.solve-section .main .item {
  width: 20rem;
  flex-shrink: 0;
  float: left;
}
.solve-section .main .item .p1 {
  font-size: 1.2rem;
  color: rgba(51, 51, 51, 0.7);
  padding-left: 0.3rem;
  margin-bottom: 1.5rem;
  width: max-content;
  width: -moz-max-content;
}
.solve-section .main .item .p2 {
  font-weight: 700;
  font-family: "din-2014", "source-han-sans-japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
.solve-section .main .item .p2 .num {
  font-size: 6rem;
  -webkit-transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
}
.solve-section .main .item .p2 .unit {
  font-size: 2.4rem;
  margin-left: 0.3rem;
}
.faq-section {
  padding-bottom: 4rem;
}
.faq-section .question {
  padding: 0 1.5rem;
}
.faq-section .question .item {
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #ff9b3e;
  position: relative;
}
.faq-section .question .item .q-title {
  font-size: 1.6rem;
  color: #ff9b3e;
  padding-right: 3rem;
  text-indent: -3rem;
  margin-left: 3rem;
}
.faq-section .question .item .q-desc {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  padding-left: 3rem;
  opacity: 0;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  overflow: hidden;
  font-size: 1.3rem;
}
.faq-section .question .item .q-desc.-show {
  opacity: 1;
  height: var(--height) !important;
  margin-bottom: 2rem;
}
.faq-section .question .item .shrink {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff9b3e;
}
.faq-section .question .item .shrink i {
  font-size: 1.6rem;
}
.epilogue-section {
  padding: 6rem 2rem;
}
.epilogue-section .main {
  display: flex;
  justify-content: space-between;
}
.epilogue-section .main .img-wrap {
  width: 20rem;
  overflow: hidden;
}
.epilogue-section .main .img-wrap .box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
  will-change: background;
  transition-duration: 0.3s;
}
.epilogue-section .main .text {
  font-size: 2.6rem;
  writing-mode: tb-rl;
  letter-spacing: 1rem;
  width: 9rem;
  overflow: hidden;
  color: #ff9b3e;
}
.epilogue-section .main .text p {
  opacity: 0;
}
.epilogue-section .main .text .p2 {
  margin-top: 4rem;
  margin-right: 2rem;
}
