.ad-section {
  position: relative;
}
.ad-section .full-banner {
  height: 30rem;
  background-color: #A0A0A0;
  background-size: cover;
  background-repeat: no-repeat;
}
.ad-section .major {
  padding: 0 1.5rem;
}
.ad-section .major .safeguard {
  background: #FFFFFF;
  border-radius: 1rem;
  border: 0.1rem solid #979797;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 34.5rem;
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 1.5rem 0;
}
.ad-section .major .safeguard .item {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 14.6rem;
  flex-shrink: 0;
}
.ad-section .major .safeguard .item .ico {
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-self: center;
}
.ad-section .major .safeguard .item .ico i {
  color: var(--seize-color);
  font-size: 3.4rem;
  align-self: center;
}
.ad-section .major .safeguard .item .text {
  margin-left: 8px;
}
.ad-section .major .safeguard .item .text .p1 {
  font-size: 1.4rem;
}
.ad-section .major .safeguard .item .text .p2 {
  font-size: 1.1rem;
  color: #999;
}
.ad-section .major .spread {
  margin-top: 2rem;
}
.ad-section .major .spread .adv {
  width: 100%;
  margin-bottom: 1rem;
}
.ad-section .major .spread .adv img {
  width: 100%;
  display: block;
}
.about-section {
  margin-top: 3rem;
  text-align: center;
  padding: 0 2rem;
  padding-bottom: 2rem;
}
.about-section .ab-title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.about-section .text {
  font-size: 1.3rem;
  font-weight: 300;
}
.about-section .text p,
.about-section .text span {
  font-size: 1.3rem !important;
}
.suit {
  padding: 4rem 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.suit .suit-head {
  text-align: center;
}
.suit .suit-head .title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
}
.suit .suit-content {
  display: flex;
  -webkit-overflow-scrolling: touch;
  flex-wrap: wrap;
  justify-content: center;
}
.suit .suit-content::-webkit-scrollbar {
  display: none;
}
.suit .suit-content .item {
  width: 15rem;
  height: 10rem;
  flex-shrink: 0;
  text-align: center;
  padding: 3.5rem 1.5rem;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
}
.suit .suit-content .item .box {
  align-self: center;
  border-radius: 1.5rem;
  color: #fff;
}
.suit .suit-content .item .box img {
  width: 100%;
}
.suit .suit-content .item .text {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.suit .suit-content .item .desc {
  font-size: 1.2rem;
  color: #999;
}
.news-section .title {
  width: 100%;
  padding-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
}
.news-section .news-main {
  display: flex;
  overflow-y: auto;
  padding-bottom: 2rem;
  -webkit-overflow-scrolling: touch;
}
.news-section .news-main::-webkit-scrollbar {
  display: none;
}
.news-section .news-main .item {
  padding: 1rem;
  width: 24rem;
  flex-shrink: 0;
  background: #FFFFFF;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.06);
  border-radius: 1.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.news-section .news-main .item .img-wrapper {
  background-color: #D8D8D8;
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.news-section .news-main .item .img-wrapper img {
  width: 100%;
  display: block;
}
.news-section .news-main .item .info .n-title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: left;
}
.news-section .news-main .item .info .desc {
  font-size: 1.2rem;
  color: #9d9d9d;
  overflow: hidden;
  height: 4.8rem;
}
.news-section .news-main .item .info .stars {
  margin-bottom: 1.5rem;
}
.news-section .news-main .item .info .stars i {
  color: #FFD554;
  margin-right: 0.8rem;
  font-size: 1.6rem;
}
.fraud-section {
  /*    background-color: #ffc1d4;*/
  padding: 1.5rem;
}
.fraud-section img {
  width: 100%;
  display: block;
}
.product-section .p-title {
  margin-top: 0!important;
  margin-bottom: 0!important;
  padding-top: 7rem;
  padding-bottom: 6rem;
  /*        background-image: url("/static/img/dgoum.jpg");*/
  background-repeat: no-repeat;
  background-size: 100%;
}
/*# sourceMappingURL=index.css.map */