.message-container {
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}
.message-container .fixed-bg {
  width: 100%;
  height: 59rem;
  background-image: url("/static/img/m_check_bg.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.message-container .fixed-bg .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
}
.message-container .fixed-bg .slogan {
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  padding: 0 3rem;
  font-weight: 500;
}
.message-container .page-main {
  position: relative;
  width: 100%;
  padding-top: 1.4rem;
}
.message-container .page-main .page-head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -7.8rem);
  color: #fff;
}
.message-container .page-main .page-head .page-title {
  font-size: 2.4rem;
  font-weight: 500;
}
.message-container .page-main .page-head .radio {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 0.1rem solid #FFFFFF;
  margin: 0 auto;
}
.message-container .page-main .quick {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
}
.message-container .page-main .quick .describe {
  text-align: center;
  border-bottom: 0.1rem solid #D8D8D8;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.message-container .page-main .quick .describe .title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.message-container .page-main .quick .describe .text {
  font-size: 1.4rem;
  color: #000;
  font-weight: 100;
  text-align: center;
}
.message-container .page-main .quick .fqa li {
  margin-bottom: 2rem;
  height: 2.1rem;
  overflow: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
}
.message-container .page-main .quick .fqa li .question {
  font-size: 1.4rem;
}
.message-container .page-main .quick .fqa li .answers {
  font-size: 1.2rem;
  color: #999;
  padding-left: 2.5rem;
  padding-top: 0.4rem;
  opacity: 0;
  -moz-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.1, 0, 0, 1);
}
.message-container .page-main .quick .fqa li.show {
  height: calc(20px + var(--_height));
}
.message-container .page-main .quick .fqa li.show .answers {
  opacity: 1;
}
.message-container .page-main .quick .finis {
  font-size: 1.2rem;
  color: #000;
  opacity: 0.7;
  margin-top: 1.2rem;
}
.message-container .page-main .liaison {
  padding: 0 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.message-container .page-main .liaison .box {
  border-bottom: 0.1rem solid #D8D8D8;
  padding: 0 1.2rem;
  padding-bottom: 2rem;
}
.message-container .page-main .liaison .title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.message-container .page-main .liaison .text {
  font-size: 1.4rem;
  font-weight: 100;
}
.message-container .page-main .form-pack {
  padding: 0 1.5rem;
}
.message-container .page-main .form-pack .form-group {
  margin-bottom: 2rem;
}
.message-container .page-main .form-pack .form-group label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: block;
}
.message-container .page-main .form-pack .form-group .form-control {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  border: 0.1rem solid #979797;
  font-size: 16px;
  padding: 0 1.5rem;
  font-family: Microsoft YaHei;
}
.message-container .page-main .form-pack .form-group .form-control.captcha_code {
  width: 19rem;
}
.message-container .page-main .form-pack .form-group .form-control::placeholder {
  color: #acacac;
}
.message-container .page-main .form-pack .form-group .form-textarea {
  height: 12.4rem;
  padding: 1rem 1.5rem;
}
.message-container .page-main .form-pack .form-group .form-btn {
  width: 100%;
  height: 4.6rem;
  background: #C1C1C1;
  font-size: 1.6rem;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 1rem;
}
.message-container .page-main .form-pack .form-group .form-btn.activate-btn {
  background: #ff9b3e;
}
.message-container .foot {
  margin-top: 4.3rem;
  padding: 0 1.5rem;
  font-size: 1.4rem;
}
.message-container .foot .li {
  margin-bottom: 2rem;
}
