.card-news{
    padding: 0 1.5rem;
}
.news-main,.news-desc-main{

    margin-top: 2rem;
    margin-bottom: 5rem;
}
.page{
    margin-bottom: 5rem;
}
.breadcrumb{
    padding: .6rem 1.5rem;
}
.news{
    margin-bottom: 5rem;
    &:last-child{
        margin-bottom: 0;
    }
    .image-wrapper{
        width: 100%;

        background-color: #fff;
        border-radius: 1rem;
        overflow: hidden;
        img{
            width: 100%;

        }
    }
    .desc{
        .news-title{
            font-size: 1.6rem;
            margin-top: 1.2rem;
            a{
                color: #000;
            }
        }
        .news-tips{
            font-size: 1.3rem;
            color: #BFBFBF;
            margin-top: 1.2rem;
        }
    }
    .go-desc{
        font-size: 1.3rem;
        margin-top: 1.2rem;
        a{
            color: var(--main-color);
        }
    }
}
