.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    .page-item{
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.6rem;
        border: 0.1rem solid #ff9b3e;
        color: #ff9b3e;
        margin-right: 1rem;
        font-size: 1.6rem;
        a,
        .page-link{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            color: #ff9b3e;
            text-decoration: none;
            padding: 0;
            background: transparent;
            border: none;
        }
    }
    .page-item:first-child,.page-item:last-child{
        font-size: 3rem;
        span{
            transform: translateY(-0.3rem);
        }
        a,
        .page-link{
            transform: translateY(-0.3rem);
        }
    }

    .active{
        background-color: #ff9b3e;
        color: #fff;
        .page-link{
            color: #fff;
        }
    }

    .disabled{
        border: 0.1rem solid #a3a3a3;
        color: #a3a3a3;
        opacity: .5;
        .page-link{
            color: #a3a3a3;
        }
    }

}
