body{
    background: #F0F1F2;
}
.product-section{
    .title{
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 2.4rem;
        margin-top: 2.4rem;
        text-align: center;
    }
    .main{
        padding: 0 1.5rem;
        .goods{
            margin-bottom: 4rem;
            .info{
                text-align: center;
                width: 34rem;
                margin: 0 auto;
                padding: 1rem;
                background: #FFFFFF;
                .goods-img{
                    width: 28rem;
                    height: 28rem;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .boa{
                    .title{
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }
                    .brief{
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                        color: #999;
                    }
                    .price{
                        .market{

                            text-decoration: line-through;
                            font-size: 1.4rem;
                        }
                        .now{
                            color: #ff4e4e;
                            font-size: 2rem;
                            font-weight: 500;
                        }
                    }
                }
                .go-btn{
                    width: 4rem;
                    height: 4rem;
                    border: 0.1rem solid #979797;
                    display: inline-flex;
                    border-radius: 50%;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
