html,
body {
  height: 100%;
  background-color: #fff;
}
.flex-column {
  display: flex;
  min-width: 1200px;
  height: 100%;
}
.info-side {
  width: 60%;
  min-width: 800px;
  background-color: #fff;
  margin-bottom: 100px;
}
@media screen and (max-width: 1300px) {
  .info-side {
    min-width: unset;
  }
}
.census-side {
  width: 40%;
  min-width: 420px;
  background-color: #F7F8FA;
  position: fixed;
  right: 0;
  height: 100%;
}
@media screen and (max-width: 1300px) {
  .census-side {
    position: absolute;
  }
}
.information-main {
  width: 800px;
  float: right;
  padding-right: 60px;
}
@media screen and (max-width: 1300px) {
  .information-main {
    width: 748px;
  }
}
.information-main .header {
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.information-main .header .title {
  font-size: 28px;
  margin-left: 20px;
}
.information-main .header .title i {
  font-size: 28px;
}
.information-main .step {
  display: flex;
  margin-top: 8px;
  padding-left: 60px;
}
.information-main .step .list {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.information-main .step .list .num {
  width: 28px;
  height: 28px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information-main .step .list .text {
  margin-left: 8px;
  font-size: 14px;
  width: 96px;
}
.information-main .step .list .link {
  width: 140px;
  color: #CFCFCF;
  position: relative;
  text-align: center;
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.information-main .step .list .link .line {
  margin-right: 4px;
  width: 115px;
  height: 2px;
  background: #CFCFCF;
}
.information-main .step .list .link i {
  float: right;
  transform: translateY(-2px);
}
@media screen and (max-width: 1300px) {
  .information-main .step .list .link {
    width: 114px;
  }
}
.information-main .entering {
  margin-top: 50px;
  padding-left: 60px;
}
.information-main .entering .card {
  margin-bottom: 40px;
  position: relative;
}
.information-main .entering .card .c-line {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 13px;
  top: 35px;
  background-color: #d8d8d8;
}
.information-main .entering .card .head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.information-main .entering .card .head .num {
  display: inline-flex;
  width: 28px;
  height: 28px;
  border: 2px solid #4279DD;
  border-radius: 50%;
  line-height: 28px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: #4279DD;
}
.information-main .entering .card .head .title {
  font-size: 22px;
  margin-left: 10px;
}
.information-main .entering .card .body {
  padding-left: 38px;
}
.form-row {
  margin-bottom: 20px;
}
.form-row .input-text {
  width: 100%;
  height: 44px;
  position: relative;
}
.form-row .input-text .label {
  color: #B2B2B2;
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  opacity: 1;
  padding: 0 10px;
  transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 10;
  font-size: 16px;
}
.form-row .input-text input {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  border: 1px solid #B2B2B2;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  font-size: 16px;
}
.form-row .input-text input::-webkit-input-placeholder {
  /* Edge */
  color: #B2B2B2;
}
.form-row .input-text input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #B2B2B2;
}
.form-row .input-text input::placeholder {
  color: #B2B2B2;
}
.form-row .input-text .focus {
  border-color: #4279DD;
  padding-top: 8px;
}
.form-row .input-text .focus + .label {
  top: 0;
  transform: translateY(-8px);
  opacity: 1;
  color: #4279DD;
  background-color: #fff;
  font-size: 12px;
  z-index: 10;
}
.form-row .toge {
  display: flex;
  align-items: center;
}
.form-row .toge .label-title {
  font-size: 14px;
  width: 100px;
  flex-shrink: 0;
}
.form-row .toge .address-choice select {
  width: 160px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #E2E2E2;
  margin-right: 10px;
  padding-left: 24px;
  font-size: 16px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('/static/img/jt-b.png') no-repeat right 8px center;
  background-size: 17px;
  outline: none;
}
.form-row .toge .delivery-choice {
  display: flex;
}
.form-row .toge .delivery-choice .delivery-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.form-row .toge .delivery-choice .delivery-item:last-child {
  margin-right: 0;
}
.form-row .toge .delivery-choice .delivery-item label {
  padding: 12px 22px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #E2E2E2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  user-select: none;
}
.form-row .toge .delivery-choice .delivery-item input {
  display: none;
}
.form-row .toge .delivery-choice .delivery-item input:checked + label {
  border-color: #4279DD;
  color: #4279DD;
}
.form-row .toge .store-choice {
  width: 100%;
}
.form-row .toge .store-choice .store-main {
  width: 100%;
  background: #fafbfc;
  border-radius: 8px;
  padding: 16px 30px;
}
.form-row .toge .store-choice .store-main .store-item {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.form-row .toge .store-choice .store-main .store-item:last-child {
  margin-bottom: 0;
}
.form-row .toge .store-choice .store-main .store-item input {
  width: 486px;
  height: 36px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  padding: 0 14px;
  outline: none;
  display: none;
}
.form-row .toge .store-choice .store-main .store-item .marquee {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.form-row .toge .store-choice .store-main .store-item .store-icon {
  width: 30px;
  height: 30px;
  float: left;
  flex-shrink: 0;
}
.form-row .toge .store-choice .store-main .store-item .store-icon img {
  width: 100%;
}
.form-row .toge .store-choice .store-main .store-item .store-info {
  float: left;
  margin-left: 16px;
}
.form-row .toge .store-choice .store-main .store-item .store-info .store-name {
  font-size: 14px;
  color: #000;
}
.form-row .toge .store-choice .store-main .store-item .store-info .store-address {
  font-size: 12px;
  color: #9b9b9b;
}
.form-row .toge .store-choice .store-main .store-item .yes-mark {
  display: none;
}
.form-row .toge .store-choice .store-main .store-item .form-radio:checked + .marquee {
  border-color: #4279DD;
}
.form-row .toge .store-choice .store-main .store-item .form-radio:checked + .marquee .yes-mark {
  display: block;
  width: 75px;
  height: 35px;
  background-color: #4279DD;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(30deg) translate(4px, -20px);
}
.form-row .toge .store-choice .store-main .store-item .form-radio:checked + .marquee .yes-mark i {
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 40px;
  transform: rotate(-24deg);
  font-size: 20px;
}
.form-row .toge .delivery-choice {
  width: 100%;
}
.form-row .toge .delivery-choice select {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #E2E2E2;
  padding-left: 24px;
  font-size: 16px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('/static/img/jt-b.png') no-repeat right 8px center;
  background-size: 17px;
  outline: none;
}
.amount-main {
  width: 420px;
  float: left;
  padding: 40px 20px;
}
.amount-main .count {
  position: relative;
  display: inline-block;
}
.amount-main .count a {
  text-decoration: revert;
}
.amount-main .count .count-title {
  font-size: 16px;
}
.amount-main .subtotal {
  font-size: 14px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 8px;
}
.amount-main .subtotal .list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.amount-main .subtotal .list .ash {
  color: #999;
  text-decoration: line-through;
  font-size: 14px;
}
.amount-main .subtotal .list .p2 {
  font-size: 12px;
  color: #999;
}
.amount-main .subtotal .list .price {
  align-self: center;
}
.amount-main .total {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.amount-main .total .p1 {
  font-size: 22px;
}
.amount-main .total .p2 {
  font-size: 14px;
}
.amount-main .total .red {
  font-size: 22px;
}
.amount-main .total .ash {
  font-size: 14px;
  color: #FF4C4C;
  text-align: right;
}
.amount-main .icons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.amount-main .icons .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 54px;
}
.amount-main .icons .item .icon {
  width: 32px;
  height: 32px;
  background: #4279DD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amount-main .icons .item .icon i {
  color: #fff;
}
.amount-main .icons .item .text {
  font-size: 14px;
  margin-left: 12px;
}
.amount-main .btn-main {
  margin-top: 40px;
}
.amount-main .btn-main .btn {
  border: none;
  width: 360px;
  height: 44px;
  background: #4279DD;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
}
.amount-main .btn-main .loading-action-btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.tip-container {
  position: absolute;
  right: -380px;
  top: -20px;
  padding-left: 60px;
  display: none;
}
.tip-container:hover {
  display: block;
}
@media screen and (max-width: 1280px) {
  .tip-container {
    left: 0;
    top: 0;
    padding-left: 0;
    padding-top: 50px;
  }
}
.tip-container .triangle .superior {
  display: none;
}
.tip-container .triangle .left {
  text-shadow: 0 0 5px #b3b3b3;
  position: absolute;
  left: 37px;
  top: 30px;
  transform: translateY(-12px);
  z-index: 2;
  color: #fff;
  font-size: 28px;
}
@media screen and (max-width: 1280px) {
  .tip-container .triangle .superior {
    display: block;
    text-shadow: 0 0 5px #b3b3b3;
    position: absolute;
    left: 20px;
    top: 40px;
    transform: translateY(-12px);
    z-index: 2;
    color: #fff;
    font-size: 28px;
  }
  .tip-container .triangle .left {
    display: none;
  }
}
.tip-container .triangle:before {
  border-right: 25px solid #fff;
  border-bottom: 18px solid transparent;
  border-top: 18px solid transparent;
  position: absolute;
  left: 44px;
  top: 26px;
  transform: translateY(-12px);
  content: " ";
  z-index: 33;
}
@media screen and (max-width: 1280px) {
  .tip-container .triangle:before {
    display: none;
  }
  .tip-container .triangle:after {
    border-bottom: 25px solid #fff;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    position: absolute;
    left: 16px;
    top: 50px;
    transform: translateY(-12px);
    content: " ";
    z-index: 33;
  }
}
.tip-container .product-main {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #b3b3b3;
}
.tip-container .product-main .item {
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.tip-container .product-main .item .title {
  font-size: 16px;
}
.tip-container .product-main .item .bots {
  margin-top: 8px;
  justify-content: space-between;
  display: flex;
  font-size: 14px;
}
.show-tip-product:hover + .tip-container {
  display: block;
}
/*# sourceMappingURL=checkout.css.map */