

body{
    background-color: #f6f6f6;
    color: #333;
}

header{
    width: 100%;

    background: #FFFFFF;

    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
    min-width:1170px;


    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 1148px;
    }
    .logo-sec{


    }
    .nav-sec{
        display: flex;
        justify-content: center;
        .base{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                padding: 0 24px;
                a{
                    color: var(--main-color);
                }
            }
        }

    }

    .tips{
        background-color: #de4848;
        height: 46px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text{
            font-size: 15px;
            color: #fff;
        }
    }

}

.logo-wrap{
    .place{
        display: flex;
        align-items: center;
        .compose{
            width: 102px;
            height: 60px;
            position: relative;

            img{
                position: absolute;
                &.fra-1{
                    width: 54px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }

                &.fra-2{
                    width: 80px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 16px;
                }

                &.fra-3{
                    width: 100px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 26px;
                }
            }
        }
        .intact{
            margin-left: 18px;
            .xenical-logo{
                width: 150px;
            }
            .text{
                font-size: 16px;
                margin-top: 3px;
                &.white{
                    color: #fff;
                }
            }
        }
    }
    &.hover-logo:hover{
        .place{
            .compose{
                img{
                    &.fra-1{

                    }

                    &.fra-2{
                        opacity: .4;
                    }

                    &.fra-3{
                        opacity: .4;
                    }
                }
            }

        }
    }
}

.banner-section{
    position: relative;
    img{
        width: 100%;
        display: block;
    }
    .embed-banner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 6;
        text-align: center;
        color: #fff;
        &.align-left{
            text-align: left;
        }
        .embed-title{
            font-size: 3.2rem;
            font-weight: 500;
            margin-bottom: 30px;
        }
        .embed-desc{
            font-size: 16px;

        }

    }
}

.breadcrumb{
    width: 1200px;
    margin: 0 auto;
    padding: 8px 20px;
    display: flex;
    font-size: 14px;
    li{

        &:after{
            content: ">";
            padding: 0 10px;
        }
        &:last-child{
            &:after{
                content: "";
            }
        }
        &.active{
            color: var(--main-color);
        }
    }
}

footer{
    width: 100%;

    background: #fff;
    padding-top: 43px;
    position: relative;
    padding-bottom: 20px;
    .ft-main{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .ft-left{
        width: 300px;
        padding-right: 34px;
        margin-top: 17px;
        flex-shrink: 0;
    }
    .ft-right{
        margin-left: 73px;
        position: relative;
    }

    .logo-box{
        display: flex;
        justify-content: center;
        p{
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .conceal{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .co-item{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .icon-box{
                width: 32px;
                height: 32px;
                background: var(--main-color);
                border-radius: 50%;
                margin-right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    color: #fff;

                }
            }
            p{
                font-size: 14px;

            }
        }
    }

    .foot-nav{
        display: flex;
        .nav-title{
            font-size: 16px;
            color: #000;
            display: none;
        }
        .row{
            margin-right: 90px;
            &:last-child{
                margin-right: 0;
            }
        }
        ul{
            margin-top: 16px;
            li{
                font-size: 12px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    color: #000;
                    &:hover{
                        color: var(--main-color);
                    }
                }
            }
        }
    }

    .copyright{
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        text-align: center;
        color: #9990A8;
        width: 100%;
    }
    .description{
        padding-top: 60px;
        padding-bottom: 60px;
        .text{
            width: 930px;
            margin: 0 auto;
            text-align: center;
            font-size: 10px;
            color: #9990A8;
        }
        .partner{
            width: 800px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .icon{
                padding: 0 10px;
                height: 36px;
                img{
                    width: 100%;
                }
            }

        }
    }

}




.prompt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: scale(0)translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px #a4a4a4;
    border-radius: 10px;
    .title{
        font-size: 20px;
        margin-bottom: 6px;
    }
    .success{
        color: #ff9b3e;
    }
    .error{
        color: #f11a1a;
    }
    .desc{
        font-size: 14px;
    }


    animation-name: promptMinMax;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;


    /* Safari 与 Chrome: */
    -webkit-animation-name: promptMinMax;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;


    @keyframes promptMinMax
    {
        from {
            transform: scale(0)translate(-50%,-50%);
        }
        to {
            transform: scale(1)translate(-50%,-50%);
        }
    }

    @-webkit-keyframes promptMinMax /* Safari 与 Chrome */
    {
        from {
            transform: scale(0)translate(-50%,-50%);
        }
        to {
            transform: scale(1)translate(-50%,-50%);
        }
    }
}

.loading-action-btn-disabled{
    opacity: 0.7;
}

.btn-ef1{
    overflow: hidden;
    position: relative;
    background: transparent!important;
    &:before{
        transition: .2s;
        background: #ffab5d;
        z-index: -2;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;

    }

    &:after{
        transition: .2s;
        background: #ff9b3e;
        z-index: -2;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

    }
    &:hover{

        &:before{
            transition: .2s;
            z-index: -1;

            width: 100%;

        }
    }
}

.btn-ef2{
    overflow: hidden;
    position: relative;
    &:before{
        transition: .2s;
        background: #ff9b3e;
        z-index: -2;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-radius: 28px;
    }

    &:hover{
        color: #fff!important;
        &:before{
            transition: .2s;
            z-index: -1;

            width: 100%;

        }
    }
}



.countdown{
    display: flex;
    .flip-clock{
        display: flex;
        align-items: center;
        &:after{
            content: ":";
        }
        &:last-child{
            &:after{
                content: "";
            }
        }

        .flip{
            background-color: #000;
            color: #fff;
            margin: 0 2px;
            padding: 0 4px;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            font-weight: bold;
            font-size: 30px;
            &:before{
                content: "";
                -webkit-animation: show 0.5s linear both;
                -moz-animation: show 0.5s linear both;
                animation: show 0.5s linear both;
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
                background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
                background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
                background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
                background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
                position: absolute;
                width: 100%;
                height: 50%;
                z-index: 2;
                left: 0;
                top: 0;
            }
            &:after{
                content: "";
                -webkit-animation: show 0.5s linear both;
                -moz-animation: show 0.5s linear both;
                animation: show 0.5s linear both;
                background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
                background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
                background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
                background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
                background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
                position: absolute;
                width: 100%;
                height: 50%;
                z-index: 2;
                left: 0;
                bottom: 0;
            }
        }

    }
}
