body {
  background-color: #f6f6f6;
  color: #333;
}
header {
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 99;
  min-width: 1170px;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1148px;
}
header .nav-sec {
  display: flex;
  justify-content: center;
}
header .nav-sec .base {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-sec .base li {
  padding: 0 24px;
}
header .nav-sec .base li a {
  color: var(--main-color);
}
header .tips {
  background-color: #de4848;
  height: 46px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .tips .text {
  font-size: 15px;
  color: #fff;
}
.logo-wrap .place {
  display: flex;
  align-items: center;
}
.logo-wrap .place .compose {
  width: 102px;
  height: 60px;
  position: relative;
}
.logo-wrap .place .compose img {
  position: absolute;
}
.logo-wrap .place .compose img.fra-1 {
  width: 54px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo-wrap .place .compose img.fra-2 {
  width: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
}
.logo-wrap .place .compose img.fra-3 {
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  top: 26px;
}
.logo-wrap .place .intact {
  margin-left: 18px;
}
.logo-wrap .place .intact .xenical-logo {
  width: 150px;
}
.logo-wrap .place .intact .text {
  font-size: 16px;
  margin-top: 3px;
}
.logo-wrap .place .intact .text.white {
  color: #fff;
}
.logo-wrap.hover-logo:hover .place .compose img.fra-2 {
  opacity: 0.4;
}
.logo-wrap.hover-logo:hover .place .compose img.fra-3 {
  opacity: 0.4;
}
.banner-section {
  position: relative;
}
.banner-section img {
  width: 100%;
  display: block;
}
.banner-section .embed-banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  text-align: center;
  color: #fff;
}
.banner-section .embed-banner.align-left {
  text-align: left;
}
.banner-section .embed-banner .embed-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.banner-section .embed-banner .embed-desc {
  font-size: 16px;
}
.breadcrumb {
  width: 1200px;
  margin: 0 auto;
  padding: 8px 20px;
  display: flex;
  font-size: 14px;
}
.breadcrumb li:after {
  content: ">";
  padding: 0 10px;
}
.breadcrumb li:last-child:after {
  content: "";
}
.breadcrumb li.active {
  color: var(--main-color);
}
footer {
  width: 100%;
  background: #fff;
  padding-top: 43px;
  position: relative;
  padding-bottom: 20px;
}
footer .ft-main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
footer .ft-left {
  width: 300px;
  padding-right: 34px;
  margin-top: 17px;
  flex-shrink: 0;
}
footer .ft-right {
  margin-left: 73px;
  position: relative;
}
footer .logo-box {
  display: flex;
  justify-content: center;
}
footer .logo-box p {
  font-size: 14px;
  margin-top: 10px;
}
footer .conceal {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .conceal .co-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .conceal .co-item .icon-box {
  width: 32px;
  height: 32px;
  background: var(--main-color);
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .conceal .co-item .icon-box i {
  color: #fff;
}
footer .conceal .co-item p {
  font-size: 14px;
}
footer .foot-nav {
  display: flex;
}
footer .foot-nav .nav-title {
  font-size: 16px;
  color: #000;
  display: none;
}
footer .foot-nav .row {
  margin-right: 90px;
}
footer .foot-nav .row:last-child {
  margin-right: 0;
}
footer .foot-nav ul {
  margin-top: 16px;
}
footer .foot-nav ul li {
  font-size: 12px;
  margin-bottom: 10px;
}
footer .foot-nav ul li:last-child {
  margin-bottom: 0;
}
footer .foot-nav ul li a {
  color: #000;
}
footer .foot-nav ul li a:hover {
  color: var(--main-color);
}
footer .copyright {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  text-align: center;
  color: #9990A8;
  width: 100%;
}
footer .description {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .description .text {
  width: 930px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: #9990A8;
}
footer .description .partner {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
footer .description .partner .icon {
  padding: 0 10px;
  height: 36px;
}
footer .description .partner .icon img {
  width: 100%;
}
.prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px #a4a4a4;
  border-radius: 10px;
  animation-name: promptMinMax;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* Safari 与 Chrome: */
  -webkit-animation-name: promptMinMax;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
}
.prompt .title {
  font-size: 20px;
  margin-bottom: 6px;
}
.prompt .success {
  color: #ff9b3e;
}
.prompt .error {
  color: #f11a1a;
}
.prompt .desc {
  font-size: 14px;
}
@keyframes promptMinMax {
  from {
    transform: scale(0) translate(-50%, -50%);
  }
  to {
    transform: scale(1) translate(-50%, -50%);
  }
}
@-webkit-keyframes promptMinMax {
  /* Safari 与 Chrome */
  from {
    transform: scale(0) translate(-50%, -50%);
  }
  to {
    transform: scale(1) translate(-50%, -50%);
  }
}
.loading-action-btn-disabled {
  opacity: 0.7;
}
.btn-ef1 {
  overflow: hidden;
  position: relative;
  background: transparent!important;
}
.btn-ef1:before {
  transition: 0.2s;
  background: #ffab5d;
  z-index: -2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}
.btn-ef1:after {
  transition: 0.2s;
  background: #ff9b3e;
  z-index: -2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn-ef1:hover:before {
  transition: 0.2s;
  z-index: -1;
  width: 100%;
}
.btn-ef2 {
  overflow: hidden;
  position: relative;
}
.btn-ef2:before {
  transition: 0.2s;
  background: #ff9b3e;
  z-index: -2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 28px;
}
.btn-ef2:hover {
  color: #fff !important;
}
.btn-ef2:hover:before {
  transition: 0.2s;
  z-index: -1;
  width: 100%;
}
.countdown {
  display: flex;
}
.countdown .flip-clock {
  display: flex;
  align-items: center;
}
.countdown .flip-clock:after {
  content: ":";
}
.countdown .flip-clock:last-child:after {
  content: "";
}
.countdown .flip-clock .flip {
  background-color: #000;
  color: #fff;
  margin: 0 2px;
  padding: 0 4px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
}
.countdown .flip-clock .flip:before {
  content: "";
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 2;
  left: 0;
  top: 0;
}
.countdown .flip-clock .flip:after {
  content: "";
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 2;
  left: 0;
  bottom: 0;
}
/*# sourceMappingURL=global.css.map */