.breadcrumb {
  padding: 8px 60px;
}
.goods-section .card {
  width: 1080px;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.goods-section .goods {
  padding: 80px 68px 23px;
  display: flex;
}
.goods-section .goods .atlas {
  margin-right: 64px;
  width: 380px;
  flex-shrink: 0;
}
.goods-section .goods .atlas .cover-wrap {
  width: 380px;
  height: 380px;
  background-color: var(--seize-color);
  margin-bottom: 16px;
}
.goods-section .goods .atlas .cover-wrap img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .atlas .thumbnail {
  display: flex;
}
.goods-section .goods .atlas .thumbnail .item {
  width: 67px;
  height: 67px;
  margin-right: 24px;
  background-color: var(--seize-color);
}
.goods-section .goods .atlas .thumbnail .item.active {
  border: 1px solid var(--main-color);
}
.goods-section .goods .atlas .thumbnail .item img {
  width: 100%;
  height: 100%;
}
.goods-section .goods .info {
  flex-grow: 1;
}
.goods-section .goods .info .name-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.goods-section .goods .info .name-wrap .label {
  font-size: 16px;
  width: 47px;
  height: 30px;
  background-color: #a80404;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #fff;
}
.goods-section .goods .info .name-wrap .title {
  font-size: 28px;
  font-weight: bold;
}
.goods-section .goods .info .attrs {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 30px;
}
.goods-section .goods .info .attrs dl {
  display: flex;
  line-height: 1.8;
}
.goods-section .goods .info .prices {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.goods-section .goods .info .prices .market {
  font-size: 16px;
  text-decoration: line-through;
  margin-right: 14px;
  font-weight: 100;
}
.goods-section .goods .info .prices .now {
  display: flex;
  align-items: center;
}
.goods-section .goods .info .prices .now .lab {
  width: 86px;
  height: 25px;
  border: 2px solid #e82121;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  color: #e82121;
}
.goods-section .goods .info .prices .now .sp {
  font-size: 24px;
  color: #e82121;
  font-weight: bold;
}
.goods-section .goods .info .g-countdown {
  width: 100%;
  height: 50px;
  background-color: #fff5d7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #ac7707;
  border-radius: 5px;
}
.goods-section .goods .info .prescription {
  width: 100%;
  height: 21px;
  font-size: 16px;
  color: #000000;
  line-height: 21px;
}
.goods-section .goods .info .sales {
  margin-top: 8px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
}
.goods-section .goods .info .sales .panic {
  width: 150px;
  flex-shrink: 0;
}
.goods-section .goods .info .sales .order-logs {
  margin-left: 23px;
  font-size: 14px;
  width: 240px;
  height: 26.5px;
  overflow: hidden;
}
.goods-section .goods .info .sales .order-logs .ol {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  background-color: #fff5d7;
  color: #ac7707;
  border-radius: 5px;
}
.goods-section .goods .info .place {
  width: 100%;
  margin-bottom: 28px;
}
.goods-section .goods .info .place a {
  width: 100%;
  height: 53px;
  background-color: #d72525;
  text-align: center;
  line-height: 53px;
  display: block;
  border-radius: 27px;
  font-size: 20px;
  color: #fff;
}
.goods-section .goods .info .ensures {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goods-section .goods .info .ensures .icons {
  display: flex;
  align-items: center;
}
.goods-section .goods .info .ensures .ioc {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-section .goods .info .ensures .ioc i {
  font-size: 32px;
  color: #999;
}
.goods-section .goods .info .ensures span {
  color: #999;
}
.goods-section .delivery {
  padding: 20px 40px;
}
.goods-section .delivery .title {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #979797;
  font-weight: bold;
}
.goods-section .delivery .content {
  font-size: 16px;
  display: flex;
}
.goods-section .delivery .content .label {
  margin-bottom: 8px;
}
.goods-section .delivery .content .col:last-child {
  margin-left: 200px;
}
.goods-section .programme {
  padding: 20px 40px;
}
.goods-section .programme .title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}
.goods-section .programme table {
  width: 100%;
  text-align: left;
}
.goods-section .programme table thead {
  border-bottom: 1px solid #d8d8d8;
  font-weight: 500;
}
.goods-section .programme table thead tr {
  height: 30px;
}
.goods-section .programme table thead th {
  font-weight: 500;
}
.goods-section .programme table tbody tr {
  height: 86px;
  border-bottom: 1px solid #d8d8d8;
}
.goods-section .programme table tbody tr:last-child {
  border-bottom: none;
}
.goods-section .programme table .choice {
  width: 185px;
  height: 34px;
  background-color: #d72525;
  border-radius: 17px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-section .comments {
  padding: 20px 40px;
}
.goods-section .comments .title {
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #979797;
  font-weight: bold;
}
.goods-section .comments .enumeration li {
  border-bottom: 1px solid #979797;
  padding-bottom: 28px;
  margin-bottom: 28px;
}
.goods-section .comments .enumeration li .info {
  margin-bottom: 8px;
}
.goods-section .comments .enumeration li .info .nickname {
  margin-right: 32px;
}
.goods-section .comments .enumeration li:last-child {
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: none;
}
.goods-section .final {
  padding: 20px 40px;
}
.goods-section .final .instructions .title {
  margin-bottom: 18px;
  font-weight: bold;
}
.goods-section .final .instructions .present {
  border: 1px solid #979797;
}
.goods-section .final .instructions .present .ls {
  display: flex;
  align-items: center;
  position: relative;
}
.goods-section .final .instructions .present .ls:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  position: absolute;
  bottom: 0;
  left: 0;
}
.goods-section .final .instructions .present .ls .s1 {
  width: 168px;
  background-color: #EDEDED;
  text-align: center;
  flex-shrink: 0;
  height: 100%;
  padding: 14px 0;
}
.goods-section .final .instructions .present .ls .s2 {
  padding-left: 20px;
}
.goods-section .after-sale {
  margin-top: 45px;
}
.goods-section .after-sale .title {
  font-weight: bold;
}
.goods-section .gallery {
  margin-top: 45px;
}
.goods-section .gallery img {
  width: 100%;
  margin-bottom: 28px;
}
/*# sourceMappingURL=goods.css.map */