header {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  position: fixed;
}
header .nav-sec {
  transform: translateX(-38px);
}
header .nav-sec .aks .shop-btn {
  opacity: 0;
}
.header-index {
  height: 80px;
  opacity: 1;
}
.modal {
  text-align: center;
  position: relative;
}
.modal .title {
  font-size: 32px;
  font-weight: 500;
}
.modal .sub {
  font-size: 14px;
}
.index-banner {
  position: relative;
  height: 100vh;
}
.index-banner .logo-cont {
  position: absolute;
  z-index: 11;
  left: 50%;
  transform: translate(-50%);
  top: 10px;
}
.index-banner .vh {
  width: 100%;
  height: calc(100% + 460px);
  overflow: hidden;
}
.index-banner .video-main {
  position: absolute;
  min-width: 1000px;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100vh;
}
.index-banner .video-main .shade-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #793d04;
  opacity: 0.2;
}
.index-banner .video-main .video-wrap {
  position: relative;
}
.index-banner .video-main .video-wrap .pill1 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(150px, 256px);
  z-index: 4;
  background-image: url("/static/img/pill1.webp");
  width: 326px;
  height: 404px;
  background-size: 100%;
}
.index-banner .video-main .video-wrap .pill2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  transform: translate(50px, 200px);
  background-image: url("/static/img/pill2.webp");
  width: 399px;
  height: 277px;
  background-size: 100%;
}
.index-banner .video-main .video-wrap .progress {
  position: absolute;
  bottom: 100px;
  left: 20px;
  z-index: 9;
  /* @-webkit-keyframes progress-bar {
                    0%   {height: 0;}
                    100% {height: 100%;}
                } */
}
.index-banner .video-main .video-wrap .progress .bar {
  width: 3px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
  position: relative;
  display: block;
  opacity: unset;
  border-radius: 0;
}
.index-banner .video-main .video-wrap .progress .bar:before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.index-banner .video-main .video-wrap .progress .swiper-pagination-bullet-active:before {
  animation: progress-bar 9s;
  animation-fill-mode: forwards;
  -webkit-animation: progress-bar 9s;
  -webkit-animation-fill-mode: forwards;
}
@keyframes progress-bar {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.index-banner .video-main .video-body {
  height: 100vh;
  background-color: #4C4C4C;
}
.index-banner .video-main .video-body video {
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: black;
  position: relative;
}
.index-banner .video-main .text-steer {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  color: #fff;
  z-index: 10;
}
.index-banner .video-main .text-effect {
  position: absolute;
  left: 200px;
  bottom: 268px;
  color: #fff;
  z-index: 10;
  width: 500px;
}
.index-banner .video-main .text-effect .p1 {
  font-size: 24px;
}
.index-banner .video-main .text-effect .p2 {
  font-size: 64px;
  font-style: italic;
  text-indent: -3px;
}
.index-banner .video-main .text-effect .p3 {
  font-size: 16px;
}
.index-banner .leg {
  position: relative;
  width: 100%;
  height: 100%;
}
.index-banner .leg .slogan {
  font-size: 44px;
  width: 44px;
  text-align: center;
  position: absolute;
  top: 116px;
  right: 56px;
  z-index: 2;
  opacity: 0;
  color: #ff9b3e;
}
.index-banner .leg .shop-btn a {
  width: 160px;
  height: 44px;
  background: #ff9b3e;
  border-radius: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: fixed;
  left: 0;
  top: 18px;
  z-index: 100;
}
.index-banner .leg .shuidi {
  background-image: url("/static/img/xin-bg.webp");
  width: 941px;
  height: 1135px;
  background-size: 100%;
  position: absolute;
  right: 0;
  top: 70px;
  transform: translateX(392px);
  z-index: 1;
}
.about-section .about {
  width: 600px;
  text-align: center;
  transform: translateX(-260px);
}
.about-section .about .ab-title {
  font-size: 32px;
  font-weight: 500;
}
.about-section .about .sub {
  font-size: 14px;
}
.about-section .about .xl-title {
  font-size: 24px;
  font-weight: 500;
}
.about-section .about .xl-main {
  margin-top: 80px;
  background-image: url("/static/img/daoshui.webp");
  background-repeat: no-repeat;
  background-size: 80%;
  height: 186px;
  background-position-x: 58px;
}
.about-section .about .xl-main .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .about .xl-main .text .num {
  font-size: 60px;
}
.about-section .about .xl-main .text .em {
  text-align: left;
  margin-left: 8px;
}
.about-section .about .ab-main {
  margin-top: 40px;
}
.about-section .about .ab-main .text {
  margin-top: 30px;
}
.suit {
  background-color: #ffebd9;
  margin-top: 100px;
  padding-top: 120px;
  padding-bottom: 160px;
}
.suit .suit-head {
  text-align: center;
}
.suit .suit-head .title {
  font-size: 32px;
  font-weight: 500;
}
.suit .suit-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 140px;
  margin-bottom: 40px;
}
.suit .suit-content .item {
  width: 180px;
  text-align: center;
}
.suit .suit-content .item .box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}
.suit .suit-content .item .box img {
  width: 100%;
}
.suit .suit-content .item .text {
  margin-top: 10px;
  font-size: 16px;
}
.suit .suit-content .item:nth-child(even) {
  /*transform: translateY(100px);*/
  /*     margin-top: 100px;*/
}
.how {
  padding-top: 120px;
  padding-bottom: 140px;
  position: relative;
  overflow: hidden;
}
.how .how-body {
  margin-top: 30px;
}
.how .how-body .how-resolve {
  position: relative;
  z-index: 2;
}
.how .how-body .how-resolve .picker {
  background-image: url("/static/img/how-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 537px;
  height: 318px;
  position: relative;
  opacity: 0;
}
.how .how-body .how-resolve .min-zf {
  background-image: url("/static/img/zf-3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 11px;
  height: 9px;
  display: block;
  position: absolute;
}
.how .how-body .how-resolve .mid-zf {
  background-image: url("/static/img/zf-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 44px;
  height: 35px;
  display: block;
  position: absolute;
}
.how .how-body .how-resolve .max-zf {
  background-image: url("/static/img/zf-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 56px;
  height: 46px;
  display: block;
  position: absolute;
}
.how .how-body .how-resolve .introduce {
  width: 560px;
  height: 189px;
  background: #ffebd9;
  border-radius: 0px 95px 95px 95px;
  position: absolute;
  left: 467px;
  bottom: -40px;
  padding: 40px;
  opacity: 0;
}
.how .how-body .how-resolve .left-more {
  animation-name: leftMore;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* Safari 与 Chrome: */
  -webkit-animation-name: leftMore;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.how .how-body .how-resolve .right-more {
  animation-name: rightMore;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* Safari 与 Chrome: */
  -webkit-animation-name: rightMore;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.how .how-body .how-resolve .bottom-more {
  animation-name: bottomMore;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* Safari 与 Chrome: */
  -webkit-animation-name: bottomMore;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
@keyframes leftMore {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-40px);
    opacity: 0;
  }
}
@keyframes rightMore {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(40px);
    opacity: 0;
  }
}
@keyframes bottomMore {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
.how .how-body .restrain {
  margin-top: 50px;
  margin-left: 100px;
  z-index: 1;
}
.how .how-body .restrain .picker {
  background-image: url("/static/img/how-2.webp");
}
.how .how-body .restrain .introduce {
  left: 436px;
}
.how .how-body .restrain .broken {
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}
.how .how-body .restrain .broken .p1 {
  text-align: center;
}
.how .decorate {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}
.how .decorate.de-1 {
  background-image: url("/static/img/p1.webp");
  top: 0;
  left: 0;
  width: 232px;
  height: 238px;
}
.how .decorate.de-2 {
  background-image: url("/static/img/p2.webp");
  bottom: 0;
  right: 0;
  width: 188px;
  height: 162px;
}
.product {
  background: #ffebd9;
  padding-top: 120px;
  padding-bottom: 120px;
}
.product .product-body {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.product .product-body .introduce {
  width: 400px;
  height: 160px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 20px 40px;
  position: relative;
}
.product .product-body .introduce .title {
  font-size: 24px;
}
.product .product-body .introduce .desc {
  font-size: 16px;
  margin-top: 26px;
}
.product .product-body .introduce .marking {
  width: 160px;
  height: 160px;
  background: #FFFFFF;
  border: 2px solid #ff9b3e;
  font-size: 100px;
  color: #ff9b3e;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(-52px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .product-body .shop .introduce {
  width: 100%;
  margin-bottom: 10px;
}
.product .product-body .shop .introduce .shop-img {
  position: absolute;
  right: 10px;
  top: 0;
  transform: translateY(-39px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .product-body .shop .goods {
  width: 700px;
  background: #FFFFFF;
  border-radius: 15px;
}
.product .product-body .shop .goods .item {
  padding: 0 20px;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #DFDFDF;
  -moz-transition: all 0.8s cubic-bezier(0.1, 0, 0, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.1, 0, 0, 1);
  -o-transition: all 0.8s cubic-bezier(0.1, 0, 0, 1);
  -ms-transition: all 0.8s cubic-bezier(0.1, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.1, 0, 0, 1);
  background-color: #fff;
}
.product .product-body .shop .goods .item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 3;
  border-color: #fff;
}
.product .product-body .shop .goods .item:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.product .product-body .shop .goods .item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.product .product-body .shop .goods .item .green-mask {
  color: #ff9b3e;
}
.product .product-body .shop .goods .item .green-mask .price {
  font-size: 16px;
}
.product .product-body .shop .goods .item .green-mask .box {
  border: 1px solid #ff9b3e;
  padding: 3px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
}
.product .product-body .shop .goods .item .shop-btn {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ff9b3e;
  color: #ff9b3e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .product-body .shop .more {
  font-size: 14px;
  color: #EC7021;
  width: 100%;
  text-align: center;
  margin-top: 48px;
}
.lunbo {
  padding-top: 120px;
  padding-bottom: 120px;
}
.lunbo .lunbo-body {
  position: relative;
}
.lunbo .lunbo-body .evaluate {
  position: relative;
  height: 824px;
  margin-left: 10px;
  z-index: 1;
}
.lunbo .lunbo-body .evaluate .sef {
  transition: 2s,opacity 1s;
  transform: rotateY(180deg);
  position: absolute;
  width: 280px;
  height: 380px;
  left: 0;
  top: 110px;
  z-index: 10;
  filter: blur(5px);
  opacity: 0.3;
  background-color: #ccc;
}
.lunbo .lunbo-body .evaluate .sef img {
  width: 100%;
}
.lunbo .lunbo-body .evaluate .sef:nth-child(3) {
  left: 300px;
}
.lunbo .lunbo-body .evaluate .sef:nth-child(4) {
  left: 600px;
}
.lunbo .lunbo-body .evaluate .sef:nth-child(5) {
  left: 900px;
}
.lunbo .lunbo-body .evaluate .sef-activate {
  transform: rotateY(0deg);
  left: 400px!important;
  width: 380px;
  height: 480px;
  z-index: 11;
  top: 56px;
  filter: blur(0px);
  opacity: 1;
}
.lunbo .lunbo-body .switch {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.lunbo .lunbo-body .switch i {
  font-size: 100px;
  color: #ff9b3e;
}
.lunbo .lunbo-body .prev-btn {
  left: 0;
}
.lunbo .lunbo-body .next-btn {
  right: 0;
}
.tdee {
  background-color: #ffebd9;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  position: relative;
  padding-bottom: 180px;
}
.tdee .wrapper {
  height: 100%;
}
.tdee .tdee-body {
  display: flex;
  justify-content: center;
}
.tdee .tdee-about {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 16px;
}
.tdee .tdee-btn {
  width: 347px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  background-color: #ff9b3e;
}
.tdee .tdee-btn .text {
  position: relative;
  z-index: 2;
}
.tdee .tdee-btn:before {
  transition: 0.2s;
  background: #ff7b00;
  z-index: -2;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
}
.tdee .tdee-btn:hover:before {
  z-index: 1;
  width: 100%;
}
.timeline {
  padding-top: 180px;
  padding-bottom: 180px;
  overflow: hidden;
}
.timeline .modal svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
}
.timeline .modal svg path {
  stroke: #ff9b3e;
  stroke-width: 9;
  fill: none;
  opacity: 0;
  stroke-dasharray: 0 1500;
  transform: translateY(-16px);
}
.timeline .ts-svg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
  /* @-webkit-keyframes elementor-headline-dash {
                0% {
                    stroke-dasharray: 0 1500;
                    opacity: 1
                }

                to {
                    stroke-dasharray: 1500 1500;
                    opacity: 1
                }
            } */
}
.timeline .ts-svg svg path {
  stroke: #ff9b3e;
  stroke-width: 9;
  fill: none;
  opacity: 0;
  stroke-dasharray: 0 1500;
  animation: elementor-headline-dash 1.2s forwards;
  -webkit-animation: elementor-headline-dash 1.2s forwards;
  /* Safari 和 Chrome */
}
@keyframes elementor-headline-dash {
  0% {
    stroke-dasharray: 0 1500;
    opacity: 1;
  }
  to {
    stroke-dasharray: 1500 1500;
    opacity: 1;
  }
}
.timeline .timeline-body {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.timeline .timeline-body .js-marquee-wrapper {
  display: flex;
  justify-content: center;
}
.timeline .timeline-body .js-marquee {
  display: flex;
  justify-content: center;
}
.timeline .timeline-body .loopWrap {
  transform: translateX(0);
}
.timeline .timeline-body .group {
  display: flex;
}
.timeline .timeline-body .item {
  cursor: pointer;
  width: 400px;
  flex-shrink: 0;
  float: left;
}
.timeline .timeline-body .item .p1 {
  font-size: 13px;
  color: rgba(51, 51, 51, 0.7);
  padding-left: 3px;
  margin-bottom: 15px;
  width: max-content;
  width: -moz-max-content;
  /*&:hover{
                    &+.p2{
                        .num{
                            color: #ff9b3e;
                        }
                    }
                }*/
}
.timeline .timeline-body .item .p2 {
  font-weight: 700;
  font-family: "din-2014", "source-han-sans-japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  -webkit-transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
  transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
}
.timeline .timeline-body .item .p2:hover {
  color: #ff9b3e;
}
.timeline .timeline-body .item .p2 .num {
  font-size: 100px;
}
.timeline .timeline-body .item .p2 .unit {
  font-size: 40px;
  margin-left: 3px;
}
.fqa {
  background: #ffebd9;
  padding: 120px 0;
}
.fqa .fqa-body {
  margin-top: 60px;
}
.fqa .fqa-body .question {
  width: 900px;
  margin: 0 auto;
}
.fqa .fqa-body .question .item {
  width: 100%;
  height: 50px;
  font-size: 14px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  border-bottom: 1px solid #ff9b3e;
  cursor: pointer;
}
.fqa .fqa-body .question .item .q-title {
  height: 50px;
  line-height: 50px;
  color: #ff9b3e;
  font-size: 18px;
}
.fqa .fqa-body .question .item .q-desc {
  font-size: 14px;
  padding-bottom: 10px;
  padding-left: 35px;
}
.fqa .fqa-body .question .item .q-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #ff9b3e;
}
.epilogue {
  padding: 120px 0;
}
.epilogue .epilogue-body {
  width: 738px;
  margin: 0 auto;
  position: relative;
}
.epilogue .epilogue-body .image-wrap {
  width: 500px;
  height: 700px;
  overflow: hidden;
}
.epilogue .epilogue-body .image-wrap .box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
  will-change: background;
  transition-duration: 0.3s;
}
.epilogue .epilogue-body .text {
  color: #ff9b3e;
}
.epilogue .epilogue-body .p1 {
  font-size: 32px;
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
}
.epilogue .epilogue-body .p2 {
  font-size: 32px;
  width: 32px;
  position: absolute;
  top: 92px;
  right: 50px;
}
.epilogue .epilogue-body .btn {
  width: 180px;
  height: 40px;
  background: #ff9b3e;
  color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: -56px;
  font-size: 16px;
}
